**/.DS_Store


AvailableSoftware/db_data

AvailableSoftware/Development/wp-admin
AvailableSoftware/Development/wp-content/plugins/akismet
AvailableSoftware/Development/wp-content/themes
AvailableSoftware/Development/wp-includes

AvailableSoftware/Development/*
!AvailableSoftware/Development/docker-compose.yml

/Tutorial